*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  color: $black;
  overflow-x: hidden;
}

.viewContainer {
  padding-top: 88px;

  @media screen and (max-width: 1000px) {
    padding-top: 80px;
  }
}

.container {
  width: 100%;
  max-width: 1400px;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-left: auto;
  margin-right: auto;

  @media screen and (max-width: 576px) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

button {
  cursor: pointer;
}

.btn {
  display: inline-block;
  background-color: $yellow;
  color: $black;
  font-size: 1rem;
  font-weight: 700;
  border: 2px solid $yellow;
  border-radius: 2rem;
  padding: 1rem 2rem;
  overflow: hidden;
  cursor: pointer;
  transition: 0.2s ease-in;

  svg:not(.loader) {
    margin-left: 0.5rem;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    height: 100%;
    background-color: darken($yellow, 10%);
    border-radius: 2rem;
    opacity: 0;
    transform: translateX(-50%);
    transition: 0.2s ease-in;
    z-index: -1;
  }

  &.inverse {
    border: 2px solid $black;
    background-color: transparent;
  }

  &:hover {
    @media screen and (min-width: 800px) {
      transform: scale(1.02);

      &::after {
        width: 110%;
        opacity: 1;
        transition: 0.2s ease-in;
      }
    }
    transition: 0.2s ease-in;
  }
}

.btn-inverse {
  border: 2px solid $black;
  background-color: transparent;
}

.btn-flat {
  background-color: transparent;
  color: $black;
  font-weight: bold;
  border: none;
  border-bottom: 2px solid $black;

  &.white {
    color: $white;
    text-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-bottom: 2px solid $white;
    padding: 0 0.25rem;
  }
}

.loading {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  font-size: 3rem;
}
