body {
  font-family: $primaryFont;
}

a {
  color: inherit;
  font-weight: 700;
  text-decoration: none;
}

button, input, select, option, textarea {
  font-family: $primaryFont;
}

.inputError {
  display: inline;
  background-color: $grey;
  font-size: .75rem;
  font-weight: bold;
  border-radius: 0.25rem;
  padding: 0.25rem 1rem !important;
}
