// colors
$yellow: #ffd634;
$lightyellow: #fbe799;
$darkeryellow: #ffcc01;
$lightgrey: #f2f2f2;
$grey: #d4d4d4;
$darkgrey: #777776;
$white: #f8f8f8;
$black: #171717;

// fonts
$primaryFont: "Poppins", sans-serif;
