// base

@import "./variables";
@import "./animations";
@import "./base";
@import "./functions";
@import "./mixins";
@import "./typography";
@import "./utilities";

// components
@import '../../components/AddToFavorite/addToFavorite';
@import '../../components/AlertPopup/alertPopup';
@import '../../components/AlterRecipe/alterRecipe';
@import '../../components/EditAccount/editAccount';
@import '../../components/InspirationRecipes/inspirationRecipes';
@import '../../components/LoginUser/loginUser';
@import '../../components/Modal/modal';
@import '../../components/Nav/nav';
@import '../../components//RecipeCard/recipeCard';
@import '../../components/RecipeOverviewHeader/recipeOverviewHeader';
@import '../../components/RecipesFilter/recipesFilter';
@import '../../components/RegisterUser/registerUser';

// views
@import '../../views/AccountView/accountView';
@import '../../views/AddRecipeView/addRecipeView';
@import '../../views/ComingSoon/comingSoon';
@import '../../views/FavoritesView/favoritesView';
@import '../../views/HomeView/homeView';
@import '../../views/LoginRequiredView/loginRequiredView';
@import '../../views/LoginView/loginView';
@import '../../views/RecipeOverview/recipeOverview';
@import '../../views/RecipesView/recipesView';
@import '../../views/ShoppingListView/shoppingListView';